.container{
    width:300px;
    padding:20px;
    margin:100px auto;
    border:1px solid black;
}
.error{
    color:red;
}
input{
    width:100%;
    margin:5px 0;
    padding:5px;
}
button{
    width:100%;
    padding:5px;
}